<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAooBjubvMIroAwBV2xQ3JZW8dbnKRnU0k</string>
	<key>GCM_SENDER_ID</key>
	<string>282275414352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carwash</string>
	<key>PROJECT_ID</key>
	<string>carwash-a54fc</string>
	<key>STORAGE_BUCKET</key>
	<string>carwash-a54fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282275414352:ios:39f312c590eb1f0dbdac55</string>
</dict>
</plist>